body {
    /* background: #faf7f7 !important; */
    padding-top: 50px;
}

#root {
    height: 100%;
}

.flex-space {
    flex: 1;
    visibility: hidden;
}

.text-dot {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header-btn {
    border: none !important;
    font-size: 12px !important;
    padding: 0 8px !important;
}

.header-btn:hover {
    background-color: #EEEEEE !important;
}

.input-upload {
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}