body {
    /* background: #faf7f7 !important; */
    padding-top: 50px;
    /* height: auto; */
}

:global(#root) {
    height: 100%;
}

:global(.flex-space) {
    flex: 1;
    visibility: hidden;
}

:global(.text-dot) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}